<b><u>Notes With '<%= taggedNotes.tag.escape('name') %>' Tag</u></b>
<br>
<div class="bs-sidebar">
  <ul class="nav bs-sidebar nav-pills nav-stacked">
    <% taggedNotes.each(function (taggedNote) { %>
      <li><a href="#" class="note-link" data-id="<%= taggedNote.id %>">
        <%= taggedNote.escape("title") %></a></li>
    <% }); %>
  </ul>
</div>