<p><a href="#/notebooks/new" class="btn btn-primary">
  + New Notebook</a></p>
<br>
<b><u>Notebooks</u></b>
<br>

<div class="bs-sidebar">
  <ul class="nav bs-sidebar">
    <% notebooks.each(function(notebook){ %> 
      <li><a href="#/notebooks/<%=notebook.id%>/notes">
            <%= notebook.escape("name") %></a></li>
    <% }); %>
  </ul>
</div>


