<h3> Create New Notebook </h3>
<form id="create-notebook">
  <div class="form-group">
    <label for="notebook_name">Notebook Name</label>
    <input type="text" class="form-control" name="notebook[name]" 
      id="notebook_name">
  </div>
  <input type="submit" class="btn btn-primary" value="Create Notebook">
</form>
