<h3> Create New Note in <b><%= notebook.escape("name") %></b> </h3>

<form id="create-note">
  <input type="hidden" name="note[notebook_id]" value="<%= notebook.id %>">

  <div class="form-group">
    <label for="note_title">Title</label>
    <input type="text" class="form-control" name="note[title]" id="note_title" 
      value="Untitled">
  </div>
  
  <div class="form-group">
    <label for="note_body">Body</label>
    <textarea class="form-control" rows="15" name="note[body]" 
      id="note_body"></textarea>
  </div>

  <input type="submit" value="Create Note">
</form>