<button type="button" class="btn btn-danger" data-toggle="modal" 
  data-target="#delete-note-modal"> Delete Note </button>

<h3> <%= note.escape("title") %> </h3>
  
<br>
<div class="btn-group text-left">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" 
    data-toggle="dropdown"> + Tag <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href=""> Tags </a></li>
    <li><a href=""> Are </a></li>
    <li><a href=""> Coming </a></li>
    <li><a href=""> Soon </a></li>
  </ul>
</div>
<br>
Current Tags:

<div class="note-body">
<h5> <%= note.escape("body") %> </h5>

<br>

<div class="modal" id="delete-note-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Confirm Note Deletion </h4>
      </div>
      <div class="modal-body">
        <p> Are You Sure You Want to Delete '<%= note.escape("title") %>' 
          Forever? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" 
          id="delete-note" data-id="<%= note.id %>"> Delete </button>
      </div>
    </div>
  </div>
</div>