<div class="jumbotron">
  <h1> About Clevernote </h1>
  <div class="row">
    <div class="col-xs-6">
      Clevernote is my final project for App Academy. It is designed to be an Evernote clone and strives to replicate the core functionality found in the Evernote web app.
    </div>
    <div class="col-xs-6">
      Current Features:
      <ul>
        <li>Create, Edit, or Delete Notebooks, Notes, and Tags</li>
        <li>Drag and Drop Notes to Other Notebooks</li>
        <li>Add or Remove Tags from Notes</li>
        <li>Search for Notes by Tag</li>
      </ul>
    </div>
  </div>
  
