<div class="jumbotron">
  <h1> Contact </h1>
  <div class="row">
    <div>
      <p>
       <b>Name:</b> Albert Hung
      </p>
      <p>
        <b>Email:</b> <a href="mailto:ahung88@gmail.com">ahung88@gmail.com</a>
      </p>
      <p>
        <a href="http://www.github.com/ahung">My GitHub</a>
      </p>
    </div>
  </div>
</div>  