<div class="row" id="note-view">
  <div class="row text-center" id="message-area">
  </div>
  <div class="col-xs-3" id="left-column">
    <div class="row">
      <div id="notebook-column">
      </div>
    </div>
    <div class="row">
      <div id="tag-column">
      </div>
    </div>
  </div>
  <div class="col-xs-3" id="middle-column">
  </div>
  <div class="col-xs-6" id="right-column">
  </div>
</div>