<div class="row" id="note-view">
  <div class="col-xs-3 text-center" id="left-column">
    <div class="row">
      <div class="col-xs-6" id="tag-column">
      </div>
      <div class="col-xs-6" id="notebook-column">
      </div>
    </div>
  </div>
  <div class="col-xs-3 text-center" id="middle-column">
  </div>
  <div class="col-xs-6 text-center" id="right-column">
  </div>
</div>