/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
$navbar-inverse-color: white;
$navbar-inverse-brand-color: white;
$navbar-inverse-link-color: white;

@import "bootstrap";
@import "etch";

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: cornsilk;
}

.navbar-inverse {
  margin-bottom: 0px;
  border-color: cornsilk;
}

.container {
  height: 100%;
  width: 100%;
}

.ui-draggable-dragging {
//  width: 60px;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  -webkit-transform:rotate(7deg);
}