// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel .panel-heading {
  background-color: cornsilk;
}

.panel-body {
  background: cornsilk;
}

.notebook-link, .note-link {
//  background: dodgerblue;
  color: black;
  border: black thin solid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active {
  background-color: lightgray;
  font-weight: bold;
  font-style: italic;
}

#notebook-dropdown {
  width: 160px;
//  height: 35px;
}

