// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#left-column {
  height: 100%;
  border-right: gray thin solid;
}

#middle-column {
  background: cornsilk;
  height: 100%;
  border-right: gray thin solid;
}

#right-column {
  background: cornsilk;
  height: 100%;
}

.jumbotron {
  background: cornflowerblue;
}

.contact-link {
  color: black;
}