// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#left-column {
  height: 100%;
  border-right: gray thin solid;
  overflow: auto;
}

#middle-column {
  background: azure;
  height: 100%;
  border-right: gray thin solid;
  overflow: auto;
}

#right-column {
  background: azure;
  height: 100%;
  overflow: auto;
}

.jumbotron {
  background: azure;
}