<b><u>Notes With '<%= tag.escape('name') %>' Tag</u></b>
<br>
<div class="bs-sidebar">
  <ul class="nav bs-sidebar nav-pills nav-stacked">
    <% tag.get('notes').each(function (note) { %>
      <li><a href="#" class="note-link" data-id="<%= note.id %>">
        <%= note.escape("title") %></a></li>
    <% }); %>
  </ul>
</div>